.item_box4{
	font-family: 'Noto Serif JP';
}

.order_hed{
	width:765px;
	text-align:right;
	margin-bottom:20px;
	font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	color:#666666;
}

.order_hed p{
	margin:10px 0px 0px;
}

.pager {
	display: flex;
    justify-content: center;
}

.pager>li{
	margin: 0 1em;
}

