* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 80%;
	line-height: 140%;

}
.clear {
	font-size: 0px;
	clear: both;
	line-height: 0px;
	height: 1px;
}
img {
 	border:none;
}
a:link {
	TEXT-DECORATION: none;
	color: #705C43;

}
a:visited {
	TEXT-DECORATION: none;
	color: #705C43;

}
a:hover {
	TEXT-DECORATION: none;
	color: #8A7253;

}
a:active {
	TEXT-DECORATION: none;
	color: #705C43;

}




/*****************************************************

 main

*****************************************************/

#topmain{
	width:1000px;
	margin:15px auto 0px;
	text-align:center;
}

.top-main{
	margin-bottom:30px;
}

.top-contents{
	width:1000px;
	text-align:left;
	margin-bottom:20px;
}

.top-menu{
	width:800px;
	margin:15px 0px 0px 100px;
	display: flex;
	flex-wrap: wrap;
}

.top-menu-item {
	display: block;
	width: 25%;
	text-align: center;
}
	/* .top-menu td{
		padding-bottom:20px;
		text-align:center;
		vertical-align:top;
	} */

.top-information{
	margin:15px 0px 0px 100px;
	color:#585858;
	font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	font-size:12px;
}

.top-links{
	width:430px;
	margin:10px 0px 0px 70px;
}

	.top-links td{
		padding-bottom:20px;
		text-align:center;
		vertical-align:top;
	}






/* 左サイド消去スタイル */

#side{
	display:none;
}

#content{
	background-image:none;
}

.top_btn{
	display:none;
}
